body {
	font-family: 'Times', serif;
	color: hsl(0 0% 80%);
	font-size: 22px;
	background: #000;
	margin: 0;
}

h1 {
	color: #fff;
	font-size: 96px;
	font-weight: 400;
	font-family: 'roc-grotesk-extrawide', sans-serif;
}

h2 {
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 64px;
	line-height: 0.9em;
	font-weight: 700;
	color: #fff;
	margin: 1rem 0;
}

h3 {
	color: #fff;
	margin: 1em 0;
}

p {
	margin: 1em 0;
	line-height: 1.4em;
}

a {
	color: #689FDE;
}

h4 {
	font-family: 'roc-grotesk-wide', sans-serif;
	font-size: 32px;
	color: #fff;
	font-weight: 400;
	margin: 1rem 0;
}

nav {
	position: sticky;
	top: 0;
	z-index: 100;
	float: left;
	width: 100%;
	box-sizing: border-box;
	transition: 200ms;
}

nav .logo {
	width: 3rem;
	height: 3rem;
}

nav .row {
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	padding: 1rem 2rem;
}

#burger-cb {
	display: none;
}

#burger-cb:checked~nav .burger-button .opened {
	display: none;
}

#burger-cb:not(:checked)~nav .burger-button .closed {
	display: none;
}

nav .burger-button {
	display: none;
	cursor: pointer;
	color: white;
}

.nav-overflow {
	padding: 0 1rem;
	display: grid;
	grid-template-rows: 0fr;
	transition: 500ms;
}

.nav-overflow>* {
	overflow: hidden;
}

@media (max-width: 768px) {
	nav .row .link {
		display: none;
	}

	nav .burger-button {
		display: block;
	}

	#burger-cb:checked~nav .nav-overflow {
		grid-template-rows: 1fr;
	}
}

nav.scrolled,
#burger-cb:checked~nav {
	background: black;
	border-bottom: 1px solid hsl(0 0% 20%);
}

nav .link {
	box-sizing: border-box;
	font-weight: 500;
	font-family: 'roc-grotesk';
	cursor: pointer;
	text-decoration: inherit;
	color: white;
	border-bottom: 1px solid transparent;
}

nav .link:hover {
	border-bottom: 1px solid white;
}

nav .row :first-child {
	margin-right: auto;
}

header {
	min-height: 100vh;
	position: relative;
	font-size: 16px;
}

header .banner {
	position: fixed;
	inset: 0;
	background-position: center;
	background-size: cover;
	z-index: -1;
}

main {
	background: black;
}

header .words {
	display: grid;
	grid-template-rows: 3fr 1fr 1fr;
	position: absolute;
	inset: 0;
	align-items: center;
	padding: 2rem 0;
	background: linear-gradient(transparent 60%, rgba(0, 0, 0, .8) 90%);
}

header .subtitle {
	flex: 1;
	font-family: 'roc-grotesk-wide';
	letter-spacing: 1em;
	color: white;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
}

header .title {
	flex: 4;
}

header h1 {
	text-align: center;
	margin: 0;
	font-size: 4em;
}

header .links {
	flex: 1;
	padding: 0 2rem;
	box-sizing: border-box;
	flex-wrap: wrap;
}

header .links,
header .links .link {
	font-weight: 500;
	font-family: 'roc-grotesk';
	display: flex;
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem 4rem;
	font-size: 1.2em;
}

header .links .link {
	gap: 1rem;
	cursor: pointer;
	flex-shrink: 0;
}

header .links .link {
	text-decoration: inherit;
	color: inherit;
	border-bottom: 1px solid transparent;
}

header .links .link:hover {
	border-bottom: 1px solid white;
}

@media (max-width: 1024px) {
	header {
		font-size: 12px;
	}
}

@media (max-width: 568px) {
	header h1 {
		font-size: 32px;
	}
}

header.top .title {
	opacity: 0;
	animation: 500ms appear 1 forwards;
	animation-delay: 150ms;
}

header.top .subtitle :first-child {
	opacity: 0;
	animation: 500ms appear 1 forwards;
	animation-delay: 300ms;
}

header.top .subtitle :last-child {
	opacity: 0;
	animation: 500ms appear 1 forwards;
	animation-delay: 450ms;
}

header.top .links .link:first-child {
	opacity: 0;
	animation: 500ms appear 1 forwards;
	animation-delay: 600ms;
}

header.top .links .link:last-child {
	opacity: 0;
	animation: 500ms appear 1 forwards;
	animation-delay: 750ms;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translate(0, 8px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.upcoming-events-title {
	text-align: center;
	color: white;
	padding: 0 3rem;
}

@media (max-width: 1024px) {
	.upcoming-events-title {
		font-size: 40px;
	}
}

.upcoming-event {
	box-sizing: border-box;
	padding: 6rem 0;
	margin-left: -10rem;
	padding-left: 10rem;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.upcoming-event .upper {
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 1rem;
	display: grid;
	grid-template-columns: 10rem 1fr 16rem;
	grid-template-rows: auto auto 1fr;
}

.upcoming-event .index {
	line-height: 1em;
	align-self: flex-end;
	justify-self: flex-end;
	grid-column: 2/3;
	grid-row: 2/3;
}


.upcoming-event .index.changing {
	animation-name: slidein;
	animation-timing-function: ease-out;
}

@keyframes slidein {
	0% {
		transform: translate(-50%, 0);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 100%;
	}
}


.upcoming-event .date {
	font-size: 1.4em;
	grid-row: 1/2;
	z-index: 10;
	grid-column: 2/3;
	align-self: flex-end;
}

.upcoming-event .fliar {
	padding-left: 2rem;
	grid-row: 2/4;
	grid-column: 3/4;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upcoming-event .fliar img {
	max-width: 100%;
	object-fit: contain;
	max-height: 100%;
}

.upcoming-event .title {
	font-size: 2em;
	grid-row: 2/3;
	grid-column: 2/3;
}

.upcoming-event .note {
	grid-row: 1/4;
	grid-column: 1/2;
	font-family: 'reenie-beanie';
	color: #689FDE;
	transform: rotate(-20deg);
	font-size: 2rem;
	align-self: center;
}

.upcoming-event .description {
	font-size: 22px;
	grid-row: 3/4;
	grid-column: 2/3;
}

.upcoming-event .index {
	font-size: 15rem;
	color: hsl(0 0% 30%);
	font-weight: 700;
	font-family: 'roc-grotesk-extrawide', sans-serif;
	line-height: 1em;
	align-self: flex-end;
	justify-self: flex-start;
	grid-column: 2/3;
	grid-row: 1/2;
	margin-left: -16rem;
	margin-bottom: 0rem;
	position: relative;
}

.upcoming-event .index:after {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(transparent, black);
}

@media (max-width: 1024px) {
	.upcoming-event {
		font-size: 12px;
	}

	.upcoming-event .upper {
		grid-template-columns: 0 1fr 0;
	}

	.upcoming-event .fliar {
		grid-column: 2/3;
		grid-row: 1/2;
		width: 10rem;
		justify-self: flex-end;
	}

	.upcoming-event .fliar {
		grid-column: 2/3;
		grid-row: 1/2;
		width: 10rem;
	}

	.upcoming-event .index {
		line-height: 1em;
		align-self: flex-end;
		justify-self: flex-start;
		grid-column: 2/3;
		grid-row: 1/2;
		margin-left: -4rem;
		margin-bottom: 0;
		font-size: 156px;
	}

	.upcoming-event .note {
		grid-column: 2/3;
		grid-row: 4/5;
		justify-self: center;
		transform: rotate(-5deg);
	}

	.upcoming-event .upper {
		margin-bottom: 4rem;
	}

}

.upcoming-event .banner {
	width: 100%;
}

.upcoming-event .attendees {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
	box-sizing: border-box;
}

.attendees h4 {
	margin: 3rem 0;
}

.upcoming-event .people {
	grid-column: 1/4;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.upcoming-event>*+* {
	margin-top: 4rem;
}

.upcoming-event .crossed-out {
	font-size: 64px;
}

.person {
	font-family: 'roc-grotesk';
	display: grid;
	grid-template-columns: 6rem auto;
	grid-template-rows: 3rem 3rem;
	gap: 0 1rem;
	font-size: 1.3rem;
	line-height: 1em;
}

.person .img {
	border-radius: 100px;
	grid-row: 1/3;
	grid-column: 1/2;
	background-position: center;
	background-size: cover;
}

.person .car {
	align-self: flex-end;
	padding: 0.25rem 0;
}

.person .human {
	font-size: 0.8em;
	color: hsl(0 0% 50%);
	align-self: flex-start;
	padding: 0.25rem 0;
}

.crossed-out {
	font-family: 'reenie-beanie';
	color: #689FDE;
	width: fit-content;
}

.crossed-out .value {
	display: inline-block;
	position: relative;
	padding: 0 4px;
	margin: 0 2px;
}

.crossed-out .value:not(.crossed) {
	margin-left: 12px;
}

.crossed-out .value:not(.crossed) svg {
	margin-top: 10px;
}

.crossed-out .cross {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
}

.crossed-out .cross path {
	fill: none;
	stroke-width: 5;
	stroke: #689FDE;
	stroke-linecap: round;
	stroke-opacity: 1;
	paint-order: markers fill stroke;
}

.stickers {
	max-width: 1200px;
	padding-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	min-height: 128px;
	max-height: 128px;
	gap: 1000px 0;
	justify-content: center;
	align-items: center;
}

.stickers .img {
	flex: 1;
	padding: 32px;
}

.stickers img {
	display: block;
	margin: 0 auto;
	height: 64px;
}

.stickers .img:nth-child(2n) img {
	animation: 1s rotate-dance-a infinite;
}

.stickers .img:nth-child(2n + 1) img {
	animation: 1s rotate-dance-b infinite;
}

@keyframes rotate-dance-a {

	0%,
	50% {
		transform: rotate(15deg);
	}

	51%,
	99% {
		transform: rotate(-15deg);
	}
}

@keyframes rotate-dance-b {

	0%,
	50% {
		transform: rotate(-15deg);
	}

	51%,
	99% {
		transform: rotate(15deg);
	}
}

.about {
	max-width: 540pt;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 8rem 1rem;
}

.about h2 {
	text-align: center;
}

footer {
	border-top: 1px solid hsl(0 0% 20%);
	background: black;
	padding: 4rem 1rem 6rem 1rem;
	box-sizing: border-box;
	color: hsl(0, 0, 60%);
	text-align: center;
	font-family: roc-grotesk;
	font-size: 14px;
	box-sizing: border-box;
}

footer .links {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: flex-start;
	margin: 3rem auto;
	width: fit-content;
}

footer .link {
	cursor: pointer;
	color: white;
}
